
<div class="padded text-center">
  <h2 class="section-header">Our team</h2>
  <ul class="list-inline">
    <li>
      <%= image_tag "anne.jpg", class: "avatar-bordered", alt: "Anne" %>
      <h3>Anne</h3>
    </li>
    <li>
      <%= image_tag "romain.jpeg", class: "avatar-bordered", alt: "Romain" %>
      <h3>Romain</h3>
    </li>
    <li>
      <%= image_tag "seb.jpg", class: "avatar-bordered", alt: "Sebatien" %>
      <h3>Seb</h3>
    </li>
  </ul>
</div>
